<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />

       <% avatar_url = @user.avatar_url(128) %>
       <% if avatar_url %>
         <div class="media-left">

           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>

            <%= pluralize(@user.posts.count, 'post') %>,
            <%= pluralize(@user.comments.count, 'comment') %>,
            <%= pluralize(@user.favorites.count, 'favorite') %>

         </small>
       </div>
     </div>
   </div>
 </div>

<h2><%= @user.name %>'s Posts</h2>
<% if @user.posts.count > 0%>
<%= render @user.posts %>
<% else  %>
<%= "#{@user.name} has not submitted any posts yet."%>
 <% end %>
<h2><%= @user.name %>'s Comments</h2>
<% if @user.comments.count > 0%>
 <%= render @user.comments %>
 <% else  %>
 <%= "#{@user.name} has not submitted any comments yet."%>
 <% end %>
<h2><%= @user.name %>'s Favorites</h2>
<% if @user.favorites.count > 0%>
<% @user.favorites.each do |favorite| %>
<div><%= image_tag favorite.post.user.avatar_url(48) %> Title: <%=favorite.post.title %>  Author: <%=favorite.post.user.name %>, Votes: <%=favorite.post.votes.count %>, Comments: <%=favorite.post.comments.count %></br></div>
<% #render partial: 'favorites/favorite', locals: { post: favorite.post } %>
<%end%>
 <% else  %>
 <%= "#{@user.name} does not have any favorites yet."%>
 <% end %>
