<h1> New Sponsored Post</h1>
<div class="row">
  <div class="col-md-4">
    <p>Guidelines for sponsored posts</p>
    <ul>
      <li>Make sure it rhymes</li>
      <li>Don't use the letter "Z"</li>
      <li>The incessant use of hashtags will get you banned</li>
    </ul>
  </div>
  <div class="col-md-8">
      <%= form_for [@topic, @sponsored_post] do |form| %>
        <div class="form-group">
          <%= form.label :title%>
          <%= form.text_field :title, class: 'form-control', placeholder: "Enter sponsored post title"%>
        </div>
        <div class="form-group">
          <%= form.label :body%>
          <%= form.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter sponsored post body"%>
        </div>
        <div class="form-group">
          <%= form.label :Price%>
          <%= form.number_field :price %> USD
        </div>
        <div class="form-group">
          <%= form.submit "Save", class: 'btn btn-success' %>
        </div>
        <% end %>
  </div>
</div>
